.RewardsPage {
  display: flex;
  flex-direction: column;
}

.page-content {
  display: flex;
}

.sidebar {
  flex-shrink: 0;
}

.main-content {
  margin-left: 80px;
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 92px;
  box-sizing: border-box;
}

.rewards-container {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.rewards-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #333;
}

.rewards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
}

.reward-card .reward-button {
  margin-top: auto;
}

.reward-registration-wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 28px; /* Aumentado de 20px para 28px (acréscimo de 8px) */
}