/* UserMissionsList.css */
/* src/components/UserMissionsList/UserMissionsList.css */

/* Seção de missões */
.missions-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 350px; /* Altura fixa do container externo */
  overflow: hidden; /* Impede que o layout externo seja afetado */
}

/* Container para a lista com scroll */
.missions-list-container {
  flex-grow: 1;
  overflow-y: auto; /* Ativa o scroll vertical */
  height: 100%; /* Mantém o scroll dentro do espaço disponível */
  padding-right: 5px; /* Espaço para a barra de rolagem */
}

/* Cabeçalho da tabela de missões */
.missions-header {
  display: grid;
  grid-template-columns: 1fr 1fr 80px 80px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.mission-title-header,
.mission-status-header {
  text-align: left;
}

.mission-deadline-header,
.mission-tasks-header {
  text-align: center; /* Centraliza os títulos das colunas de ícones */
}

/* Lista de missões */
.missions-list {
  list-style-type: none;
  padding: 0;
}

.missions-list li {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 80px 80px;
  align-items: center;
}

.mission-title {
  font-weight: bold;
}

.mission-status {
  color: #666;
}

.mission-deadline {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.mission-tasks {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.deadline-icon {
  color: #444;
  cursor: help;
  font-size: 18px; /* Padroniza o tamanho do ícone */
}

.deadline-icon:hover {
  color: #007bff;
}

.mission-icon {
  color: #444;
  font-size: 18px;
  cursor: pointer;
}

.mission-icon:hover {
  color: #007bff;
}

/* Estilo para a mensagem quando não há missões */
.missions-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 35px); /* Altura total menos a altura aproximada do título */
  text-align: center;
  color: #666;
}

.missions-empty-icon {
  font-size: 48px;
  margin-bottom: 15px;
  color: #ccc;
}